.search input{
    padding: 5px 10px;
    width: 50%;
    height: 60px;
    font-size: 20px;
    border-radius: 1rem;
    transition: all 0.5s;
    border: none;
}

.search input:focus{
    scale: 1.1;
    transform: rotateX(720deg);
    font-family: 'Dancing Script', cursive;
    
}