.todo-add {
  background: #fff;

  padding: 1rem;
  border-radius: 1rem;

  &-title {
    margin-bottom: 1rem;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 500;
  }
  &-form {
    display: flex;
    justify-content: space-between;
    gap: 1rem;

    @media screen and (max-width: 572px) {
      flex-direction: column;
    }
  }
}
