@import '../../base.scss';

.movie-list {
  background-color: #002f3b;

  padding: 2rem;
  margin-top: 2rem;

  &-title {
    color: #8db4dc;
    font-family: $movie-list-font;
    text-shadow: 0 2px 4px #07c6ff;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    gap: 1.5rem;
    margin-top: 30px;
  }
}
