.btn {
  border: 1px solid transparent;
  color: #fff;
  transition: all 0.3s;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  &.lg {
    padding: 11px 16px;
    border-radius: 10px;
  }
  &.sm {
    padding: 2px;
    border-radius: 5px;
  }
  &.add {
    background-color: #ebc23c;
  }
  &.delete {
    background-color: #e61d23;
  }
  &.success {
    background-color: rgb(57, 231, 57);
  }

  &:hover {
    cursor: pointer;
    border-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 5px #000;
    opacity: 0.7;
  }

  img {
    width: 20px;
  }
}
