@import '../../base.scss';

.movie-item {
  color: #fff;

  // max-width: 225px;
  background-color: #004f5c;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  overflow: hidden;
  width: 100%;

  .img-wrapper {
    height: 358px;
    overflow: hidden;

    img {
      width: 100%;
      object-fit: cover;
      transition: all 0.3s;
      &:hover {
        scale: 1.05;
      }
    }
  }

  .movie-item-info {
    padding: 1rem;
    font-family: $movie-list-font;
    &-title {
      margin-bottom: 10px;
      font-weight: 400;
      min-height: 50px;
    }

    &-directory {
      margin-bottom: 10px;
      color: #adadad;
    }

    &-year {
      color: #adadad;
      font-size: 14px;
    }
  }

  &-buttons {
    padding: 1rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
}
